@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');
*{
    padding: 0;
    margin: 0;
}

.body{
    background: url("../imagem/bg.png"); 
    min-height: 100vh;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

#text{
    position: absolute;
    top: 150px;
    right: 200px;
    font-size: 39px;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
}

#scoreBox{
    position: absolute;
    top: 9px;
    right: 200px;
    font-size: 39px;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
}

#hiscoreBox{
    position: absolute;
    top: 59px;
    right: 140px;
    font-size: 39px;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
}

#board{
    background: linear-gradient(rgb(231, 32, 32), rgb(178, 16, 16));
    width: 90vmin;
    height: 92vmin;
    border: 0px solid black;
    display: grid;
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(18, 1fr);
}

.head{
    background: url("../imagem/cabeca.png") no-repeat; 
    border: 0vmin solid white;
    transform: scale(1.00);
    border-radius: 0px auto;
}

.snake{
    background-color: #ffffff;
    border: 0vmin solid white;
    border-radius: 0px auto;
}

.food{
    background: url("../imagem/dentinho.png"); 
    border: 0vmin solid white;
    border-radius: 0px auto;
    padding: 0%;
}